/* @media all and(min-width: 1200px) {
  .add-theme {
    width: "900px";
    margin-left: "270px";
    padding-top: "5px";
    background-color: red;
    padding:"5px 10px 0px 10px" ;
  }
}

.add-theme {
  width: "900px";
  padding:"5px 10px 0px 10px" ;
} */
